<div class="user-page-container">
  <header class="header d-flex justify-content-between align-items-center">
    <div class="logo-container">

      <img class="logo" src="../../assets/images/LittleChefLogo.jpeg" alt="logo" />
    
    </div>
    <button class="btn btn-danger btn-lg mx-2" (click)="handleOffersClick()">Offers</button>
  </header>

  <h1 class="list-title space">Account Info</h1>
  <table class="table table-sm table-light mt-3">
    <thead>
      <tr>
        <th scope="col" class="col-ob">Name</th>
        <th scope="col" class="col-bo">Account</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ user.name }}</td>
        <td class="tokenAddress">{{ user.account }}</td>
      </tr>
    </tbody>
  </table>
  <br />

  <br />

  <h2 class="list-title space">Current Tokens</h2>
  <table class="table table-sm table-dark mt-3">
    <thead>
      <tr>
        <th scope="col" class="col-ob">Public Addr</th>
        <th scope="col" class="col-bo">Balance (mitocell)</th>
      </tr>
    </thead>
    <tbody>
      <tr class="col-bo-token">
        <td class="tokenAddress">{{ user.account }}</td>
        <td>{{ user.balance.amount }}</td>
      </tr>
    </tbody>
  </table>

  <br/>

  <h1 class="list-title space activity">Activities</h1>

    <div class="card-container card-two-col">
      <div class="d-flex flex-column justify-content-center px-2">
        <h6 class="card-title m-0">Learn to make tacos (100)</h6>
        <p class="card-author">By: Sukhdev</p>
      </div>
      <div class="long-img-container text-center">
        <img src="../../assets/images/Taco1.jpg" alt="" class="long-img" />
      </div>
    </div>

    <br />
    
  <!-- <button class="btn btn-dark btn-lg blk-btn" (click)="learnedTacos()">Done</button> -->

  <br />
  <br />
  

    <div class="card-container card-three-col">
      <div class="d-flex flex-column justify-content-center px-2">
        <h6 class="card-title m-0">Challenge: Make tacos (500)</h6>
        <p class="card-author">By: Sukhdev</p>
      </div>
      <div class="d-flex flex-column px-2 justify-content-center">
        <h6 class="card-title m-0">Duration</h6>
        <p class="card-author">40 mins</p>
      </div>
      <div class="short-img-container text-center">
        <img src="../../assets/images/Taco2.jpg" alt="" class="short-img" />
      </div>
    </div>

    <!-- <div *ngIf="showTimer" class="counter h3 text-danger">{{ counter }}</div> -->

    <br />
  
    <!-- <button class="btn btn-dark btn-lg blk-btn" (click)="handleMakeTacos()"> -->
      <!-- Start -->
    <!-- </button> -->

    <br />
  <br />

</div>
