<div class="third-container p-3">
  <header class="header d-flex justify-content-between align-items-center">
    <div class="logo-container">
      <img class="logo"
      
      src="Little Chef-logos.jpeg"
       alt="logo" />
    </div>
  </header>

  <h1 class="list-title">Account Info</h1>
  <table class="table table-light mt-3 w-75">
    <thead>
      <tr>
        <th scope="col" class="col-ob">Name</th>
        <th scope="col" class="col-bo">Account</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ name }}</td>
        <td>{{ accountAddress }}</td>
      </tr>
    </tbody>
  </table>


  <h2 class="list-title">Current Tokens</h2>

  <table class="table table-sm table-dark mt-3">
    <thead>
      <tr>
        <th colspan="3" class="col-ob">Task / Activity</th>
        <th colspan="2" class="col-bo">Result</th>
        <th colspan="4" class="col-ob">Reward</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th scope="col">Creator</th>
        <th scope="col">Activity</th>
        <th scope="col">Public Addr</th>
        <th scope="col">Score</th>
        <th scope="col">Message</th>
        <th scope="col">Reward type</th>
        <th scope="col">Value</th>
        <th scope="col">Company</th>
        <th scope="col">Expiry</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let token of rewardTokens" class="col-bo-token">
        <td>{{ token.activityCreator }}</td>
        <td>{{ token.activityName }}</td>
        <td class="tokenAddress">{{ token.publicAddress }}</td>
        <td>{{ token.result.score }}</td>
        <td>{{ token.result.message }}</td>
        <td>{{ token.reward.type }}</td>
        <td>{{ token.reward.value }}</td>
        <td>{{ token.reward.targetPartner }}</td>
        <td>{{ token.reward.expiryDate!.split('T')[0] }}</td>
      </tr>
    </tbody>
  </table>

  <br />




  <div class="d-flex justify-content-around w-100 align-items-center">
    <div class="coupon-card">
      <h4 class="coupon-title">Get 5% off the classes</h4>

      <div class="text-center">
        <img
          class="long-img"
          src="team_view3.jpg"
          alt="knife"
        />
      </div>
    </div>
    <div>
      <button class="btn btn-lg btn-dark blk-btn" (click)="handleUseDiscount()"> Use </button>
    </div>
  </div>

  <div class="d-flex mt-3 mb-5 justify-content-around w-100 align-items-center">
    <div class="coupon-card">
      <div class="coupon-card-title-container">
        <h4 class="coupon-title">Get free kitchen knife set</h4>
        <h4 class="coupon-title">Requirements - 5 points</h4>
      </div>

      <div class="text-center">
        <img
          class="short-img"
          src="knife_view3.jpg"
          alt="knife"
        />
      </div>
    </div>
    <div>
      <button class="btn btn-lg btn-dark blk-btn" (click)="handleUsePoints()"> Use </button>
    </div>
  </div>

</div>
