@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 100%;
  background-image: url('../../assets/images/main-bg.jpg');
  background-size: cover;
}

.img-container {
  margin: 40px;
  width: 300px;
}

.input-container {
  margin-top: 100px;
}

.main-logo {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.blk-btn {
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  padding: 15px;
  width: 180px;
  transition-duration: 0.1s;
}

.blk-btn:hover {
  background-color: #36454F;
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(46, 204, 113, .4);
}

.txt-input {
  margin-bottom: 10px;
}
